body{
    background-color: #e5e5e5;
    display: flex;
    z-index: 0;
    justify-content: center;
    font-family:  'Roboto', sans-serif;
}
.principal{
    margin-bottom: 0px;
}
.barra-topo{
    width: 100%;
    height: 52px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    display:flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1;
}
.barra-bottom{
    width: 100%;
    height: 52px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
    position:fixed;
    display:none;
    justify-content: space-around;
    align-items: center;
    bottom:0;
    left:0;
    z-index:1;
}
video{
    width:100%;
}
ion-icon{
    font-size: 25px;
    cursor: pointer;
}
.ajuste-icon{
    width:200px;
    display:flex;
    justify-content: space-around;
}
.ajuste{
    width:215px;
    height: 20px;
}

.logo{
    width:150px;
    display:flex;
    justify-content: space-around;
}
.logo-mobile{
    display:none;
}
.barrinha{
    width:1px;
    background-color: #DBDBDB;
    height: 22px;
}
.stories{
    height:118px;
    width:614px;
    border-radius: 3px;
    margin: 70px auto 30px auto;
    background-color: #ffffff;
    display: flex;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    align-items: center;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.front{
    width:56px;
    height: 56px;
    border-radius: 38px;
    margin-left: 16px;
   
}
p{
    margin-left:11px;
    font-size: 12px;
    margin-top: 4px;
}
.iconezim{
    position: absolute;
    right:2px;
    top: 50px;
    background-color: #FFFFFF;
    color:rgba(0,0,0,0.2);
    border-radius: 15px;
}
.fundo-storie{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.fotinha{
    position:absolute;
    top:4px;
}
.back{
    
    height: 64px;
    margin-left:16px;
}

.conteudo{
    width: 614px;
    border-radius: 3px;
    margin:20px auto 50px;
    background-color: #ffffff;
    position: relative;
}
.conteudo > ion-icon{
    position: absolute;
    right: 10px;
    top: 19px;
}
.conteudo img{
 
    width: 100%;
}
.fotinha-conteudo{
    display: flex;
    align-items: center;
    font-weight: bold;
}
.fotinha-conteudo img{
    border-radius: 16px;
    height: 32px;
    width:32px;
    margin: 15px 17px;
}
strong{
    font-weight: bold;
}
.icons-abaixo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons-abaixo div{
    width: 120px;
    display: flex;
    height: 30px;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 5px;
}
.sidebar{
    width: 293px;
    height: 420px;
    background-color:  #E5E5E5;;
    right: 1vw;
    
    
    margin-top: 100px;
    margin-left: 28px; 
}
.sidebar img{
    width:56px;
    height: 56px;
    border-radius: 28px;
}

.curtida{
    display: flex;
    margin-left: 10px;
    margin-top: 5px;
    height: 30px;
}

.curtida > p{
    font-size: 14px;
}

.conteudo-side{
    display: flex;
    height: 80px;
  
}
.conteudo-side h3{
    color: gray;
}
.conteudo-side div{
    margin: 17px;
}

.curtida > img{
    width:20px;
    height: 20px;
    border-radius:10px;
}

.sugestao{
    display: flex;
    justify-content: space-between;
    height: 20px;
}
.sugestao h1{
    color: #8E8E8E;
    font-size: 12px;
    font-weight: bold;
}
.sugestao h2{
    font-style: normal;
    color: #262626;
    font-size: 12px;
    font-weight: bold;
}
.parte-sugestao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:13px;
}
.parte-sugestao h3{
    color: #139EF2;
    font-weight: bold;
}
.sidebar > h1{
    font-size: 12px;
    color: #C7C7C7;
    margin-top: 20px;
}
.parte-sugestao img{
    border-radius: 16px;
    height: 32px;
    width:32px;
   
}
.parte-sugestao > div{
    display: flex;
}
.quem{
    margin-left: 10px;
}
.parte-sugestao h2{
    font-size: 12px;
    margin-top: 5px;
    color: #8E8E8E;
}
@media (max-width: 941px) {
    .sidebar{
        display: none;
    }
}
@media(max-width:614px){
    .principal{
        margin-bottom: 40px;
    }
    .barra-bottom{
        display:flex;
    }
    .stories{
        width: 95vw;
    }
    .conteudo{
        width: 95vw;
    }
    .ajuste{
        display:none;
    }
    .logo-mobile{
        display: flex;
        width:100%;
        justify-content: space-between;
    }
    .logo{
        display: none;
    }
    .ajuste-icon{
        display: none;
    }
}